MAILGUN_API_KEY="<place your mailgun api key here>"
JWT_SECRET="< place your jwt secret here>"
STRIPE_SECRET_KEY="<your own secret key>"
FRONTEND_BASE_URL="your_own_frontend_base_url"
MONGO_DB_URL="your own mongdb atlas URL"